/* Ảnh nền */
.glasses-container {
  position: relative;
  padding-bottom: 50px;
}

.glasses-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../../public/glassesImage/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

/* Tiêu đề */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Ảnh người mẫu */
.model {
  width: 43%;
  height: 585px;
  background-image: url(../../public/glassesImage/model.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  position: relative;
}

/* Mẫu kính được chọn */
.glassesPicked {
  position: absolute;
  width: 228px;
  height: 50px;
  top: 154px;
  left: 126px;
}

.glassesPicked img {
  width: 100%;
}

/* Thông tin kính được chọn */
.glassesInfo {
  position: absolute;
  width: 100%;
  height: 135px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 15px 20px 15px;
  display: none;
}

.glassesName {
  font-size: 25px;
  font-weight: 600;
  color: green;
  margin-right: 30px;
}

.glassesPrice {
  font-size: 25px;
  font-weight: 500;
  color: red;
}

.glassesDesc {
  margin-top: 10px;
}

/* Danh sách các mẫu kính */
.glassesList {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
  height: 350px;
}

.glassesList img {
  cursor: pointer;
}
